gtk*/
Google/
Code*/
GIMP/
JetBrains/
QtProject.conf
Trolltech.conf
autorandr/
conky/
dconf/
discord/
fontconfig/
google-chrome/
gtkrc
gtkrc-2.0
htop/
ibus/
libaccounts-glib/
mimeapps.list
monitors.xml
monitors.xml~
neofetch/
nitrogen/
nordvpn/
nvim.log
pulse/
qmk/
session/
stalonetrayrc
sublime-text/
torbrowser/
trashrc
unity3d
unityhub/
user*
xdg*
yamllint/
.gsd*
.viminfo
DT_CONFIG/
Electron/

